# fly.toml file generated for eatmail on 2023-03-06T15:11:24+01:00

app = "eatmail"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]

[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  protocol = "tcp"
  script_checks = []
  processes = ["eatmail"]
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443


  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0 
    timeout = "2s"
